/* styles.css */
body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 40px 80px rgb(0, 0, 0, 0.5);
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding: 0.5rem; */
}

header,
footer {
  background-color: yellowgreen;
}

header {
  flex-shrink: 0;
  text-align: left;
  display: flex;
  /* align-items: center; */
  /* margin-bottom: 1rem; */
  /* padding-bottom: 0.5rem; */
  font-weight: 600;
}

header div img {
  padding: 1rem;
  padding-bottom: 0.3rem;
  height: 6rem;
  border-radius: 100px;
}

#profile-image-container {
  text-align: center;
  flex: 2;
}

#current-date-time-container {
  flex: 8;
  padding: 2rem;
  font-size: 1rem;
  /* border-radius: 0.5rem; */
  /* background-color: red; */
  align-items: left;
}

table {
  flex-grow: 1;
  width: 100%;
  /* background-color: white; */
  background-color: #dde5ff;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  /* height: 2.3rem; */
  border: 1px solid #5d5d5d;
  padding: 8px;
  text-align: center;
}

.time-cell {
  font-weight: 700;
  background-color: #c4c4c4;
}

#schedule th,
#schedule td {
  border: 1px solid #dcdcdc;
  /* padding: 8px; */
}

#schedule th {
  background-color: #c4c4c4;
  text-align: left;
}

/* Static Color if Cell is empty */
.static-color {
  background-color: #717171;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem;
}

.current-day,
.current-time {
  position: relative;
  animation: change-color 3s linear infinite;
}

@keyframes change-color {
  0% {
    background-color: yellow;
  }
  33% {
    background-color: rgb(201, 28, 25);
  }
  66% {
    background-color: lightblue;
  }
  100% {
    background-color: yellow;
  }
}

@media (min-width: 800px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
}
